# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# Editors
# ---------------
*.sublime-project
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license


/site/plugins/zip-generator/node_modules
/site/plugins/zip-generator/.cache
/site/plugins/zip-generator/.parcel-cache
/site/plugins/scorm-generator/node_modules
/site/plugins/scorm-generator/.cache
/site/plugins/dragndrop/node_modules
/site/plugins/dragndrop/.cache
/site/plugins/dragndrop/.parcel-cache
/kirby/vendor
/vendor